<div class="container">
  <div class="hero-unit">
    <h1>Messages to endpoint</h1>
    <p>This page lists all the messages sent to this endpoint.</p>
    <% link = url("/endpoints/#{@endpoint.uid}") %>
    <p>To send messages, simply register <a href="<%= link %>"><%= link %></a> as your endpoint in a push message system (e.g. github hooks)</p>
  </div>
  <% messages = @endpoint.messages %>
  <% if messages.empty? %>
    <p>No messages have been received.</p>
  <% else %>
    <h2>Messages Received</h2>
    <% messages.each do |message| %>
      <% @message = message %>
      <%= erb :message %>
    <% end %>
  <% end %>
</div>
