<div class="container">
  <div class="hero-unit">
    <h1>Pushover</h1>
    <p>Pushover lets you send you push notifications over to a local host, by capturing them for you.</p>
    <p>
    <a class="btn btn-primary btn-large" href="/auth/github">Sign in with GitHub</a>
    </p>
  </div>
</div>
